---
title: Your blog template - by Kevin
layout: base.njk
---

<section class="hero">
   <div class="container flow">
      <div class="hero__content flow">
         <h1 class="section-title">Bienvenido a mi blog!</h1>
         <p>
            Hola me llamo Kevin, radico en  Valencia, España.
            Este blog puede ser el tuyo si te interesa.
            Utiliza la tech SSG (Static Site Generator) para fluidificar el trabajo de gestion de contenido.
            Me puedes contactar <a class="twttr" href="https://twitter.com/phenyxKev">@phenyxKev</a>.
         </p>
         <p>
            No dudes en navegar, los articulos en latin tienen el proposito de dar una visualización grafica.
         </p>
         <div class="flex-group">
            <a href="#featured-articles" class="btn btn--primary">Featured articles</a>
            <a href="./blog" class="btn btn--neutral">Most recent articles</a>
         </div>
      </div>
      <div>
         <img src="//unsplash.it/510" alt="" class="hero__image">
      </div>
   </div>
</section>
<section id="featured-articles" class="featured-articles">
   <div class="container flow">
      <h2 class="section-title text-center ">Featured articles</h2>
      <p class="text-center">Here is a sample of articles which I feel give you a good idea of what this site is all about.</p>
      <ul role="list" class="articles__list flow">
         {%- for post in collections.featured | reverse -%}
            {% include 'article-snippet.njk' %}
         {%- endfor -%}
      </ul>
   </div>
</section>